<% include partials/head %>
	<div class="container businessHeader">
		<div class="row">
			<div class="col-md-7">
				<div class="business">
					<h2><%= business.businessName %></h2>
					<p><%= business.slogan %></p>	
								<div class="reviews">
									<div class="ratings mb-2 mr-2">
										<i class="fas fa-star checked"></i>
										<i class="fas fa-star checked"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>
									<a href="#" class="mr-3 mt-1"><h5>2.0 rating </h5></a>
									<a href="#" class="mt-1"><h5>Write a review</h5></a>
								</div>
					<p class="mt-2"><i class="fas fa-phone"></i> <%= business.phone %></p>
								<div class="buttonGroup mt-3">
									<a href="#" class="btn btn-warning mb-3"><i class="fas fa-globe"></i> Website</a>
									<a href="#" class="btn btn-warning mb-3"><i class="fas fa-envelope"></i> Email</a>
									<a href="#" class="btn btn-warning mb-3"><i class="fas fa-phone"></i> Phone</a>
								</div>
				</div>
				<div class="quickInfo">
					<ul>
						<li><strong>Why us?</strong></li>
						<li>Afforable prices</li>
						<li>Special loyalty deals</li>
						<li>24hr service</li>
					</ul>
				</div>
				<p class="lead"><%= business.description %></p>
			</div>
			<div class="col-md-5" style="background-color: coral">
				
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12">
				<div class="reviewListing">
					<h2 class="mt-3">Reviews</h2>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>