<% include partials/head %>
    <div class="container-fluid homepageBody">
    	<div class="container">
    		<h1>A business directory with <span>simplicity</span></h1>
    	</div>
    </div>
    
<% include partials/footer %>